{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
    </head>
    <body>
        <header>
            <h1>User</h1>
            <select name="enc" id="enc">
                <option value="aes">AES</option>
                <option value="bf">Blowfish</option>
                <option value="signal">Signal Protocol</option>
            </select>
        </header>
        <div id="messages">
            {%for msg in msgs%}
                <div class="msg">
                    <p class="msgUser">{{msg.userFrom}}</p>
                    <p class="msgTime">{{msg.msgDate}}</p>
                    <p class="msgText">{{msg.msgText}}</p>
                </div>
            {%endfor%}
        </div>
        <form method="POST" class="sticky">

            {% csrf_token %}
            {{form.as_p}}
            <!--<input id="msgBox" type="text" name="msgContent"/>!-->
            <button id="subBtn" type="submit" value="msgSend">Send</button>

        </form>
    </body>
</html>